<div class="div-main bloc-center">
    <div class="col color-dark bloc-center text-center">
        <p>Ajouter une tâche</p>
    </div>
    <div class="container color-light bloc-center">
        <div class="col bloc-center">
            <p class="sm">Qu'avez-vous prévu de faire prochainement ?</p>
            <form [formGroup]="model" (ngSubmit)="ajouter()">
                <input type="text" class="txt" name="name" placeholder="Tâche à venir..." formControlName="name">
                <textarea maxlength="100" name="detail" class="txt" placeholder="Détail..."
                    formControlName="detail"></textarea>
                <input type="date" class="txt" name="date" placeholder="Date..." formControlName="date"><br>
                <label for="isImportant"><input type="checkbox" name="isImportant"
                        formControlName="isImportant">important</label><br>
                <div class="container button">
                    <div class="col">
                        <input [disabled]="!model.valid" type="submit" class="btn" value="Ajouter">
                    </div>
                    <div class="col">
                        <input type="button" class="btn" value="Annuler" routerLink="/taches">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>