<div class="div-main bloc-center">
    <div class="col color-dark bloc-center text-center">
        <p>Ajouter une tâche</p>
    </div>
    <div class="container color-light bloc-center">
        <div class="col bloc-center">
            <p class="sm">Qu'avez-vous prévu de faire prochainement ?</p>
            <form>
                <input type="text" class="txt" name="item" placeholder="Tâche à venir...">
                <textarea maxlength="100" name="detail" class="txt" placeholder="Détail..."></textarea>
                <input type="date" class="txt" name="date" placeholder="Date...">
                <div class="container button">
                    <div class="col">
                        <input type="button" class="btn" value="Ajouter">
                    </div>
                    <div class="col">
                        <input type="button" class="btn" value="Annuler">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>